{% load i18n %}

<div class="col-md-3">
	<div class="list-group">
	  <a class="list-group-item{%if active_menu == "essentials" %} active"{% else %}"{% endif %} href="{% url 'djangobb:forum_profile_essentials' profile %}">{% trans "Essentials" %}</a>
	  <a class="list-group-item{%if active_menu == "personal" %} active"{% else %}"{% endif %} href="{% url 'djangobb:forum_profile_personal' profile %}">{% trans "Personal" %}</a>
	  <a class="list-group-item{%if active_menu == "messaging" %} active"{% else %}"{% endif %} href="{% url 'djangobb:forum_profile_messaging' profile %}">{% trans "Messaging" %}</a>
	  <a class="list-group-item{%if active_menu == "personality" %} active"{% else %}"{% endif %} href="{% url 'djangobb:forum_profile_personality' profile %}">{% trans "Personality" %}</a>
		<a class="list-group-item{%if active_menu == "display" %} active"{% else %}"{% endif %} href="{% url 'djangobb:forum_profile_display' profile %}">{% trans "Display" %}</a>
		<a class="list-group-item{%if active_menu == "privacy" %} active"{% else %}"{% endif %} href="{% url 'djangobb:forum_profile_privacy' profile %}">{% trans "Privacy" %}</a>
		{# if user.is_superuser #}
		<!--a class="list-group-item{% if active_menu == "admin" %}class="isactive"{% endif %} href="{% url 'djangobb:forum_profile' profile %}?section=admin">{% trans "Administration" %}</a-->
		{# endif #}
	</div>
</div>
