{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block extra_meta %}
<script type="text/javascript" src="{{ STATIC_URL }}djangobb_forum/js/jquery.cookie.js"></script>
<script type="text/javascript">

	function set_collapser(cat_id) {
		category_body_id = "category_body_" + cat_id;
		if($.cookie(category_body_id)){
			item_id = "#" + category_body_id;
			head_id = item_id.replace("body", "head");
			$(head_id).addClass("collapsed");
			$(item_id).hide()
		}
	}
	$(document).ready(function(){
		$("a.toggle").click(function(){
			header_id = $(this).parent().attr('id');
			body_id = header_id.replace("head", "body");
			item_id = '#' + body_id
			if ($(this).parent().attr('class')==''){
				$(this).parent().addClass("collapsed");
				$.cookie(body_id, 'collapsed');
			}else {
				$(this).parent().removeClass("collapsed");
				$.cookie(body_id, '');
			}
			$(item_id).slideToggle("slow");
		});
	{% for iter in cats %}
		set_collapser({{ iter.id }})
	{% endfor %}
	});
</script>
{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			{% for iter in cats %}
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">{{ iter.cat }}</h3>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>{% trans "Forum" %}</th>
							<th>{% trans "Topics" %}</th>
							<th>{% trans "Posts" %}</th>
							<th>{% trans "Last post" %}</th>
						</tr>
					</thead>
					<tbody>
					{% for forum in iter.forums %}
						{% include 'djangobb_forum/forum_row.html' %}
					{% endfor %}
					</tbody>
  			</table>
			</div>
			{% endfor %}
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
  		<div class="panel-body">
			{% if user.is_authenticated %}
			<p><a href="{% url 'djangobb:search' %}?action=show_new">{% trans "Show new posts since last visit" %}</a></p>
			<p><a href="{% url 'djangobb:misc' %}?action=markread">{% trans "Mark all topics as read" %}</a></p>

			<p>{% trans "Last visit:" %} {% forum_time user.last_login %}</p>
			{% if forum_settings.PM_SUPPORT and messages_inbox_count > 0 %}
				<p><strong><a href="{% url 'messages_inbox' %}">{% trans "There are new messages" %} ({{ messages_inbox_count }})</a></strong></p>
			{% endif %}
		{% endif %}
		{% if user.is_superuser and reports %}
			<p><strong><a href="{% url 'admin:index' %}">{% trans "There are new reports" %} ({% new_reports %})</a></strong></p>
		{% endif %}
		</div>
		</div>

		</div>
	</div>
</div>

<!--<div id="brdstats" class="block">
	<h2><span>{% trans "Board information" %}</span></h2>
	<div class="box">
		<div class="inbox">
			<dl class="conr">
				<dt><strong>{% trans "Board statistics" %}</strong></dt>
				<dd>{% trans "Total number of registered users:" %} <strong>{{ users }}</strong></dd>
				<dd>{% trans "Total number of topics:" %} <strong>{{ topics }}</strong></dd>
				<dd>{% trans "Total number of posts:" %} <strong>{{ posts }}</strong></dd>
			</dl>
			<dl class="conl">
				<dt><strong>{% trans "User information" %}</strong></dt>
				<dd>{% trans "Newest registered user:" %} {{ last_user|profile_link }}</dd>
				<dd>{% trans "Registered users online:" %} <strong>{{ online_count }}</strong></dd>
				<dd>{% trans "Guests online:" %} <strong>{{ guest_count }}</strong></dd>
			</dl>
            {% if online_count %}
                <dl id="onlinelist" class= "clearb">
                    <dt><strong>{% trans "Online:" %} </strong></dt>
                    {% for online in users_online %}
                        <dd>{{ online|profile_link }}</dd>
                    {% endfor %}
                </dl>
            {% endif %}
		</div>
	</div>
</div>-->
{% endblock %}

{% block lofi %}
<!--{% if forum_settings.LOFI_SUPPORT %}
    <p class="lofi">
        <a href="{% url 'djangobb:lofi_index' %}">Lo-Fi Version</a>
    </p>
{% endif %}-->
{% endblock %}
