{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}
{% load pagination_tags %}

{% block content %}
<div class="row">
  <a href="{{ as_topic_url }}" class="btn btn-default btn-lg btn-block">{% trans "Show results as topic list." %}</a>
</div>

{% for post in posts %}
{% if post.object %}
    {% with post=post.object %}
        {% include "djangobb_forum/includes/post_in_search_page.html" %}
    {% endwith %}
{% else %}
    {% include "djangobb_forum/includes/post_in_search_page.html" %}
{% endif %}
{% empty %}
<div class="row">
<div class="panel panel-primary">
<div class="panel-heading">
	<h3 class="panel-title">{% trans "Info" %}</h3>
</div>
<div class="panel-body">
	<p>{% trans "Your search returned no hits." %}</p>
	<p><a href="javascript: history.go(-1)">{% trans "Go back" %}</a></p>
</div>
</diV>
</div>

{% endfor %}

{% endblock %}

{% block controls %}
<dl id="searchlinks" class="conl">
	<dt><strong>{% trans "Search links" %}</strong></dt>
	<dd><a href="{% url 'djangobb:search' %}?action=show_24h">{% trans "Show recent posts" %}</a></dd>
	<dd><a href="{% url 'djangobb:search' %}?action=show_unanswered">{% trans "Show unanswered posts" %}</a></dd>
	{% if user.is_authenticated %}
	<dd><a href="{% url 'djangobb:search' %}?action=show_subscriptions">{% trans "Show your subscribed topics" %}</a></dd>
	<dd><a href="{% url 'djangobb:search' %}?action=show_user">{% trans "Show your topics" %}</a></dd>
	{% endif %}
</dl>
{% endblock %}
